VITE_APPWRITE_ENDPOINT=
VITE_APPWRITE_PROJECT_ID=
VITE_APPWRITE_DATABASE_ID=

VITE_PRODUCTS_TABLE_ID=
VITE_PRODUCTS_BUCKET_ID=
VITE_SERVICES_TABLE_ID=
VITE_SERVICES_BUCKET_ID=
VITE_SERVICE_REQUESTS_TABLE_ID=
VITE_ORDERS_TABLE_ID=
VITE_GA_MEASUREMENT_ID=G-BGFB85W85H
